<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>
  <p>
    <%= user.username %> has made <%= pluralize(user.ratings.count, "rating") %>
    <%= ", average rating #{user.average_rating.round(2)}" unless user.average_rating.nil? %>
  </p>
  <p>
    <strong>Member of:</strong>
    <ul>
    <% user.memberships.each do |membership| %>
      <li><%= link_to membership.beer_club.name, membership.beer_club %></li>
    <% end %>
    </ul>
  </p>
  <p>
  <strong>Ratings:</strong>
  <ul>
  <% user.ratings.each do |rating| %>
    <li><%= render rating %>
    <% if user == current_user %>
      <%= link_to "Delete", rating, data: {"turbo-method": :delete} %>
    <% end %>
    </li>
  <% end %>
  </ul>
  </p>
</div>
