<p style="color: green"><%= notice %></p>

<%= link_to "Beers", beers_path %>

<h1>Breweries</h1>

<div id="breweries">
  <p>Number of breweries: <%= @breweries.count %></p>
  <% @breweries.each do |brewery| %>
    <div id="<%= dom_id brewery %>">
      <h2>
        <%= link_to brewery.name, brewery %>
      </h2>

      <p style="font-style: italic;">
        Established in <%= brewery.year %>
      </p>
      <p>
        Beers count: <%= brewery.beers.count %>
      </p>
      <% brewery.beers.each do |beer| %>
        <%= link_to beer.name, beer %>
      <% end %>

    </div>

  <% end %>
</div>

<br/>
<hr/>
<br/>
<%= link_to "New brewery", new_brewery_path %>
