<p style="color: green"><%= notice %></p>

<%= render @brewery %>

<p>
<% if @brewery.ratings.empty? %>
  This brewery's beers have not been rated yet!
<% else %>
  Brewery has <%= pluralize(@brewery.ratings.count, 'rating') %> with an average of <%= @brewery.average_rating.round(2) %>
<% end %>
</p>

<div>
  <%= link_to "Edit this brewery", edit_brewery_path(@brewery) %> |
  <%= link_to "Back to breweries", breweries_path %>

  <%= button_to "Destroy this brewery", @brewery, method: :delete %>
</div>
