<!DOCTYPE html>
<html>
  <head>
    <title>Ratebeer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "Breweries", breweries_path %>
      <%= link_to "Beers", beers_path %>
      <%= link_to "Ratings", ratings_path %>
      <%= link_to "Users", users_path %>
      &nbsp;|&nbsp;
      <% if not current_user.nil? %>
        <%= link_to "#{current_user.username}", current_user %>
        <%= link_to "Rate a new beer", new_rating_path %>
        <%= link_to "Sign out", session_path, data: {"turbo-method": :delete} %>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Sign in", new_session_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
