<!DOCTYPE html>
<html>
  <head>
    <title>Ratebeer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "Breweries", breweries_path %>
      <%= link_to "Beers", beers_path %>
      <%= link_to "Ratings", ratings_path %>
    </div>
    <div class="session">
    <% if not session[:user_id].nil? %>
      <p><%= User.find(session[:user_id]).username %> logged in</p>
    <% end %>
    <% if session[:last_rating].nil? %>
      <p>No ratings given</p>
    <% else %>
      <p>Last rating: <%= session[:last_rating] %></p>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
